header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

/* this is the very top part with purple background border */
header {
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(121, 121, 171);
  color: white;
  height: 100px;
}
/* where title is */
header h1{
  display:inline-block;
  /* font-size:50px; */
  font-style: white;
}

nav li {
  color: white;
  font-size: 30px;
  text-align: justify;
  text-decoration:underline;
  list-style-type: none;
  display: inline-block;
  margin-left: 50px;
}

header nav a, .no-button {
  display: flex;
  color: white;
  text-align: justify;
  text-decoration:underline;
  padding: 10x;
}

/* for the Tech Blog heading under Blog handlebar */
h1 a {
  color: rgb(121, 121, 171);
}
